header {
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 25rem;
    margin-right: 25rem;
    background-color: rgba(26, 26, 26, 0.918);
    border-color: white;
    display: flex;
    align-items: center;
    color: rgb(75, 141, 255);
    width: 107rem;
}

#nav_title {
    margin-right: 50%;
    margin-left: 1rem;
    font-size: 2rem;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 0 1rem;
}

.navbar__link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    color: white;
}

.navbar li:hover {
    transform: scale(1.1);
}

#best_film {
    border-style: solid;
    display: flex;
    justify-content: space-around;
    padding: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 25rem;
    margin-right: 25rem;
}

#best_film__title_and_button {
    margin-top: 15rem;
}

#best_film__title_and_button h2 {
    font-size: 2rem;
}

#best_film__play_button {
    border: none;
    border-radius: 2rem;
    background-color: rgb(75, 141, 255);
    color: white;
    padding: 0.5rem 2rem;
}

#best_film__image {
    width: 25%;
    height: 25%;
}

.category__title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.category__elements {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin-left: 750px;
}

.category__elements-left_arrow, .category__elements-right_arrow {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(75, 141, 255);
    border-radius: 50%;
    border: rgb(75, 141, 255) solid;
    height: 3rem;
    margin-top: 6rem;
}

.category__elements-left_arrow:hover, .category__elements-right_arrow:hover, #best_film__title_and_button button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(75, 141, 255);
    cursor: pointer;
}

.category__elements-left_arrow img, .category__elements-right_arrow img {
    width: 2rem;
    height: 2rem;
}

.category__elements-films {
    border: black solid;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
}

.category__elements-films:hover {
    transform: scale(1.2);
}

#category__elements--better_grades, #category__elements--french_films, #category__elements--dramatic_films, #category__elements--action_films {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.image_error {
    width: 200px;
    height: 290px;
}
