/* all screens outside the mobile */
@media only screen and (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    #nav_title {
        padding-left: 2rem;
        font-size: 2rem;
    }

    .navbar__icon {
        display: none;
    }

    .navbar ul {
        padding-right: 4rem;
    }

    .navbar__link {
        font-size: 1.4rem;
    }

    #best_film {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }

    #best_film__image {
        width: 22rem;
        height: 28rem;
    }
}

/* very large to small screen */
@media only screen and (min-width: 992px) {
    #modal {
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 20px;
    }
}

/* very large and large screen */
@media only screen and (min-width: 1920px) {
    #modal__closure {
        margin-left: 77rem;
    }

    #modal__image, .image_error_modal {
        margin-left: 35rem;
    }
}

/* large and intermediate screen */
@media only screen and (min-width: 1200px) and (max-width: 2559px) {
    header {
        left: 15.5rem;
        right: 15.5rem;
    }

    #best_film {
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

/* tablet and mobile */
@media only screen and (max-width: 991px) {
    header {
        left: 0.5rem;
        right: 0.5rem;
    }

    #modal {
        position: absolute;
        top: 70rem;
        left: 50%;
        padding: 20px;
    }
}

/* very large screen */
@media only screen and (min-width: 2560px) {
    header {
        left: 25.5rem;
        right: 25.5rem;
    }

    #best_film {
        margin-left: 25rem;
        margin-right: 25rem;
    }

    .category__elements {
        margin-left: 45rem;
        margin-right: 40rem;
    }
}

/* large screen */
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
    .category__elements {
        margin-left: 32rem;
        margin-right: 32rem;
    }
}

/* intermediate screen */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    .category__elements {
        margin-left: 17rem;
        margin-right: 17rem;
    }

    #modal {
        width: 60rem;
    }

    #modal__closure {
        margin-left: 58rem;
    }

    #modal__image, .image_error_modal {
        margin-left: 25rem;
    }
}

/* small screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        left: 1.5rem;
        right: 1.5rem;
    }

    #best_film {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .category__elements {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    #modal {
        width: 50rem;
    }

    #modal__closure {
        margin-left: 48rem;
    }

    #modal__image, .image_error_modal {
        margin-left: 20rem;
    }
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .category__elements {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #modal {
        width: 40rem;
    }

    #modal__closure {
        margin-left: 38rem;
    }

    #modal__image, .image_error_modal {
        margin-left: 15rem;
    }
}

/* landscape version tablet */
@media only screen and (min-width: 1080px) and (max-width: 1919px) and (min-height: 801px) {
    #modal {
        position: absolute;
        top: 40rem;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    #nav_title {
        text-align: center;
    }

    .navbar__icon {
        position: relative;
        top: 0.4rem;
        width: 1rem;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        height: 2rem;
    }

    .navbar li {
        background-color: rgb(75, 141, 255);
        border-radius: 2rem;
    }

    .navbar__link {
        font-size: 1.1rem;
        position: relative;
        top: 0.3rem;
    }

    #best_film {
        padding-left: 4rem;
        padding-right: 3.5rem;
    }

    .category__elements {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #modal {
        width: 15rem;
    }

    #modal__closure {
        margin-left: 13rem;
    }

    #modal__image, .image_error_modal {
        margin-left: 2rem;
        margin-top: 1rem;
    }
}

/* landscape version mobile */
@media only screen and (min-width: 1200px) and (max-width: 1919px) and (max-height: 800px) {
    #modal {
        position: absolute;
        top: 70rem;
    }
}

body {
    background-color: rgba(0, 0, 0, 0.952);
    color: #fff;
}

header {
    position: fixed;
    padding: 1rem;
    background-color: rgba(26, 26, 26, 0.918);
    border-color: #fff;
    align-items: center;
    color: rgb(75, 141, 255);
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 0 1rem;
}

.navbar__link {
    text-decoration: none;
    color: #000;
    color: #fff;
}

.navbar li:hover {
    transform: scale(1.1);
}

#best_film {
    border-style: solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#best_film__title_and_button {
    margin-top: 15rem;
}

#best_film__title {
    font-size: 2rem;
}

#best_film__play_button {
    border: none;
    border-radius: 2rem;
    background-color: rgb(75, 141, 255);
    color: #fff;
    padding: 0.5rem 2rem;
}

.best_film__infos_button {
    border: rgb(75, 141, 255) 1px solid;
    border-radius: 2rem;
    background-color: #fff;
    color: rgb(75, 141, 255);
    padding: 0.5rem 1.2rem;
    margin-left: 1rem;
}

#best_film__synopsis {
    font-size: 1.1rem;
}

.category__title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.category__elements {
    display: flex;
    justify-content: center;
}

.category__elements--left_arrow, .category__elements--right_arrow {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(75, 141, 255);
    border-radius: 50%;
    border: rgb(75, 141, 255) solid;
    height: 3rem;
    margin-top: 6rem;
}

.category__elements--left_arrow:hover, .category__elements--right_arrow:hover, #best_film__title_and_button button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(75, 141, 255);
    cursor: pointer;
}

.category__elements--left_arrow img, .category__elements--right_arrow img {
    width: 2rem;
    height: 2rem;
}

.category__elements--films {
    border: #000 solid;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
}

.category__elements--films:hover {
    transform: scale(1.2);
}

.category__elements--films__infos_button {
    position: absolute;
    padding: 0.5rem;
    margin-top: 7rem;
    margin-left: 3.5rem;
    display: none;
    z-index: 0;
    background-color: #fff;
    border-radius: 2rem;
    border: rgb(75, 141, 255) 1px solid;
    color: rgb(75, 141, 255);
    box-shadow: 0 0 35px rgb(75, 141, 255);
}

.category__elements--films img:hover + .category__elements--films__infos_button {
    display: flex;
}

#category__elements--better_grades, #category__elements--french_films, #category__elements--dramatic_films, #category__elements--action_films {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#modal__image, .image_error {
    width: 200px;
    height: 290px;
}

#modal {
    display: none;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

#modal__closure {
    display: flex;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(75, 141, 255);
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.modal__elements {
    font-size: 1.1rem;
}
